extends ../layouts/main-layout.pug
block styles
    link(rel="stylesheet", href="")
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card-article
                        header.card-article-header
                            h1.product-title #{product.title}
        else
            h1 No Products found!!!